.my-button {
    width: auto;
}

.postbox-buttons {
    text-align: right;
    margin-right: 1rem;
}

.textArea {
    width: 80%;
    height: 2rem;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}
